:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --darkgray: #272727;
}

#root {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

body {
  background-color: rgb(15, 15, 15);
}

button {
  cursor: pointer;
}

.hide {
  /* visibility: hidden; */
  /* opacity: .1; */
}

.bevel {
  corner-shape: bevel;
}

.infinite-stripes {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 166, 0, 0.3) 0,
    rgba(255, 166, 0, 0.3) 20px,
    transparent 20px,
    transparent 30px
  );
  background-size: 42px 42px;
  animation: stripes-move 6s linear infinite;
}

@keyframes stripes-move {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 42px 0;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse-warning {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flashing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes bg-pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.03);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.01);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.03);
  }
}

@keyframes logFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scan-flow {
  from {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  to {
    opacity: 0.4;
  }
}

@keyframes scan-pulse {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(430%);
  }
}

@keyframes corner-pulse {
  0% {
    corner-shape: superellipse(-1);
    width: 100px;
    height: 100px;
  }

  100% {
    corner-shape: superellipse(-2);
    width: 50px;
    height: 50px;
  }
}

.corner {
  animation: corner-pulse infinite alternate 0.3s ease;
}

.terminal-noise::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: repeating-linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1) 1px,
    transparent 1px,
    transparent 3px
  );
  pointer-events: none;
}

@keyframes tooltip-panel {
  0% {
    transform: translate(0, 0);
    width: var(--start-width);
    height: var(--start-height);
  }
  30% {
    transform: translate(var(--translate));
    width: var(--start-width);
    height: var(--start-height);
  }
  65% {
    width: var(--center-width);
    height: var(--center-height);
  }
  100% {
    transform: translate(var(--translate));
    width: var(--target-width);
    height: var(--target-height);
  }
}

@keyframes tooltip-panel-hide {
  0% {
    transform: translate(var(--translate));
    width: var(--target-width);
    height: var(--target-height);
  }
  35% {
    width: var(--center-width);
    height: var(--center-height);
  }
  70% {
    transform: translate(var(--translate));
    width: var(--start-width);
    height: var(--start-height);
  }
  100% {
    transform: translate(0, 0);
    width: var(--start-width);
    height: var(--start-height);
    display: none;
  }
}

@keyframes tooltip-content {
  from {
    opacity: 0;
    filter: blur(6px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes tooltip-content-hide {
  from {
    opacity: 1;
    filter: blur(0);
  }
  to {
    opacity: 0;
    filter: blur(6px);
  }
}
