:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --darkgray: #272727;
}

#root {
  width: 100%;
  height: 100vh;
  padding: 1rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

body {
  background-color: rgb(15, 15, 15);
}

button {
  cursor: pointer;
}

.hide {
  /* visibility: hidden; */
}

.bevel {
  corner-shape: bevel;
}

.infinite-stripes {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 166, 0, 0.3) 0,
    rgba(255, 166, 0, 0.3) 20px,
    transparent 20px,
    transparent 30px
  );
  background-size: 42px 42px;
  animation: stripes-move 6s linear infinite;
}

@keyframes stripes-move {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 42px 0;
  }
}

.pulse-warning {
  animation: pulse-warning 1s linear infinite;
}

@keyframes pulse-warning {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.no-signal {
  animation: opacity 2s steps(1, end) infinite;
}

.no-signal-linear {
  animation: opacity 2s linear infinite;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes bg {
  0% {
    background-color: 1;
  }
  50% {
    opacity: 0;
  }
}



.heartbeat-wave {
  width: 100%;
  height: 50px;
  background: repeating-linear-gradient(90deg, red 0 2px, transparent 2px 20px);
  animation: wave 1s linear infinite;
}

@keyframes wave {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
