:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --darkgray: #272727;
}

#root {
  width: 100%;
  height: 100vh;
  padding: 1rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

body {
  background-color: rgb(15, 15, 15);
}

button {
  cursor: pointer;
}

.hide {
  /* visibility: hidden; */
}

.bevel {
  corner-shape: bevel;
}

.infinite-stripes {
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 166, 0, 0.3) 0,
    rgba(255, 166, 0, 0.3) 20px,
    transparent 20px,
    transparent 30px
  );
  background-size: 42px 42px;
  animation: stripes-move 6s linear infinite;
}

@keyframes stripes-move {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 42px 0;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse-warning {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flashing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes bg-pulse {
  0% {
    background-color: rgba(255, 255, 255, 0.03);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.01);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.03);
  }
}




.scan-bar {
  position: relative;
  width: 100%;
  height: 4px;
  background: linear-gradient(
    to right,
    rgba(120, 255, 180, 0.05),
    rgba(120, 255, 180, 0.15),
    rgba(120, 255, 180, 0.05)
  );
  overflow: hidden;
}

/* Основне заповнення */
.scan-bar__fill {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(120, 255, 180, 0.4),
    rgba(120, 255, 180, 0.8),
    rgba(120, 255, 180, 0.4),
    transparent
  );
  animation: scan-flow 2.4s linear infinite;
}

/* Яскравий "скан-імпульс" */
.scan-bar__pulse {
  position: absolute;
  top: 0;
  left: -30%;
  width: 30%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(180, 255, 210, 0.9),
    transparent
  );
  filter: blur(2px);
  animation: scan-pulse 2.4s ease-in-out infinite;
}

@keyframes scan-flow {
  from {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  to {
    opacity: 0.4;
  }
}

@keyframes scan-pulse {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(430%);
  }
}
